.MyCard {
    background-color: white;
    border-radius: 1rem;
    height: 100%;
}


/* LE IMMAGINI ESCONO DAI CONTENITORI CON BORDER RADIUS.
Per risolvere si danno regole di reset alle immagini come "overflow: hidden;" e "width: 100%;" */
.MyCard img {
    overflow: hidden;
    width: 100%;
}

.contentContainer {
    padding: 25px;
}

.tagContainer {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 1rem;
    ;
}